.app-bar-container {
    // position: fixed;
    width: 100%;
    .app-bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-width: 300px;
            background-color: #125176;
            padding: 8px 25px;
            color: white;
        }
}