.chat-wrapper{
    display: flex;
    flex-direction: column;
    height: calc(100% - 66px);
    color: white;

    .background {
        display: flex;
        height: 100%;

        .user-list {
            width: 400px;
        }
        .message-wrapper {
            width: 100%;
            background-color: white;
        }
        .chat-container {
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            width: 100%;
        }
    }
}