<div class="user-container">
    <mat-list>
        <mat-list-item *ngFor="let user of usersList; let i = index;" class="user-name"
            [ngClass]="{ 'selected' : i===activeIndex }" (click)="selectedMessage(user,i)">
            <img matListAvatar src="{{user.avatar}}" alt="{{user.first_name}}_pic">
            <h3 matLine>{{user.first_name}} {{user.last_name}}</h3>
            <p matLine>
                <span>{{user.lastMessage ? user.lastMessage.message : ''}}</span>
            </p>
        </mat-list-item>
    </mat-list>
</div>