<div class="messages-container">
    <div class="message-window" id="messageWindow">
        <div class="message-container">
            <div class="message-style">
                Good morning.
            </div>
        </div>
        <div class="message-container">
            <div class="message-style">
                Hey dear, how are you my love?
            </div>
        </div>
        <div class="message-container" *ngFor="let messages of messageList" style="justify-content: flex-end;">
            <div class="message-style">
                {{messages}}
            </div>
        </div>
    </div>
    <div class="input-box">
        <mat-form-field style="width: 100%;">
            <input type="text" matInput placeholder="Enter your message..." autocomplete="off"
                [(ngModel)]="inputMessage" (keyup.enter)="sendMessage()">
        </mat-form-field>
    </div>
</div>